<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method="POST">
  <input type="text" name="title" value="{{post.title}}" placeholder="{{ post.title }}">
  <textarea name="body">{{post.body}}</textarea>
  <button type="submit">Save Changes</button>
</form>

<form action="/posts/{{post.id}}/delete" method="POST">
  <button type="button" class="delete-post" data-post-id="{{post.id}}">Delete Post</button>
</form>
